.acc-home-order-direct {
    .container {
        .row {
            .col-xl-3 {
                border-bottom: $spacer $primary solid;

                @include media-breakpoint-up(md) {
                    padding: 0 $spacer/4;
                }

                &:first-child {
                    border-bottom: none;
                }

                &:nth-child(2) {
                    @include media-breakpoint-up(md) {
                        padding-left: 0;
                    }
                }

                &:nth-child(3) {
                    @include media-breakpoint-up(md) {
                        padding-left: $spacer/8;
                        padding-right: $spacer/8;
                    }
                }

                &:last-child {
                    @include media-breakpoint-up(md) {
                        padding-right: 0;
                    }

                    @include media-breakpoint-down(sm) {
                        margin-bottom: 0 !important;
                    }
                }

                article {
                    h4 {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        @include media-breakpoint-down(lg) {
                            justify-content: flex-start;
                        }

                        &::before {
                            content: '';
                            width: 35px;
                            height: 3px;
                            background: $secondary;
                            margin-right: 10px;
                        }

                        @include media-breakpoint-down(xl) {
                            font-size: $spacer;
                        }
                    }

                    img {
                        @include media-breakpoint-up(xl) {
                            width: 100%;
                            object-fit: fill;
                            height: 198px;
                            // max-height: 198px !important;
                        }

                        @include media-breakpoint-down(sm) {
                            width: 100%;
                            height: auto !important;
                        }
                    }
                }

                h1 {
                    font-weight: 300;
                    border-bottom: 4px $secondary solid;

                    @include media-breakpoint-down(lg) {
                        width: calc(100% - 100px);
                    }
                }
            }
        }
    }
}