.acc-adverticepemt{
    .acc-adBox{
        border: 1px solid theme-color(light);
        border-bottom-color: theme-color(secondary);
        h3{
            font-weight: 700;
            margin-bottom: 0;
        }
         p{
            margin-bottom: 0;
            color: theme-color(medium);
            font-size: $font-size-base;
        }
        .small-heading{
            p{
                font-weight: 700;
                color: theme-color(primary);
                font-size: 1rem;
                margin-bottom: 0;
            }
        }
    }
}
