.cardNumber{
    border-right: none;
}
.cardPosition{
    padding: 5px 5px 0;
    border: 1px solid theme-color(dark);
    border-radius: 0 0.25rem 0.25rem 0;
    svg{
        fill: theme-color(dark);
        stroke: theme-color(dark);
        font-size: 25px;
    }
}


.cardNumber{
    border-right: none;
}
.cardPosition{
    padding: 5px 5px 0;
    border: 1px solid theme-color(dark);
    border-radius: 0 0.25rem 0.25rem 0;
    svg{
        fill: theme-color(dark);
        stroke: theme-color(dark);
        font-size: 25px;
    }
}
