@import "/src/styles/scss/variables";
@import "~bootstrap/scss/mixins";

.acc-mission-critical-page {
  img {
    margin: auto;

    @include media-breakpoint-up(xl) {
      margin: 0;
    }
  }

  .acc-iframe {
    height: 250px;

    @include media-breakpoint-up(md) {
      height: 300px;
    }

    @include media-breakpoint-up(lg) {
      height: 380px;
    }

    @include media-breakpoint-up(xl) {
      height: 420px;
    }
  }

  .acc-mission {
    &-video-image-holder {
      cursor: pointer;

      & > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        height: 400px;

        @include media-breakpoint-up(xl) {
          height: 450px;
        }
      }

      .acc-video-play-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: $spacer * 5;
        fill: $black;
      }

      &:hover {
        .acc-video-play-icon {
          fill: $danger;
        }
      }
    }

    &-yellow-bg {
      background: #fdec8e;
      background: -moz-linear-gradient(left, #fdec8e 0%, #ffffff 100%);
      background: -webkit-linear-gradient(left, #fdec8e 0%, #ffffff 100%);
      background: linear-gradient(to right, #fdec8e 0%, #ffffff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdec8e', endColorstr='#ffffff', GradientType=1);

      &-right {
        background: #fdec8e;
        background: -moz-linear-gradient(left, #ffffff 0%, #fdec8e 100%);
        background: -webkit-linear-gradient(left, #ffffff 0%, #fdec8e 100%);
        background: linear-gradient(to right, #ffffff 0%, #fdec8e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fdec8e', GradientType=1);
      }
    }

    &-custom-bg {
      @include media-breakpoint-up(xl) {
        padding-top: $spacer * 7;
        padding-bottom: $spacer * 7;
        background-repeat: no-repeat;
        background-position: top;
      }
    }

    &-engine-sec-bg {
      background-position: center right;

      @include media-breakpoint-up(xxl) {
        padding-top: $spacer * 7;
        padding-bottom: $spacer * 7;
        background-repeat: no-repeat;
        background-position: center center;
      }

      article {
        background: rgba($black, 0.8);
        padding: $spacer * 5 $spacer * 3;
      }
    }

    &-ship-bg {
      @include media-breakpoint-down(xl) {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba($white, 0.7);
          top: 0;
          left: 0;
        }
      }
    }
  }
}
