.acc-search-menu{
    @include media-breakpoint-up(xl) {
        min-height: 94.2px;
    }
    button{
        width: 100%;
        margin: 0 0 5px;
        @include media-breakpoint-up(xs) {
            width: calc(50% - 6px);
            margin: 0 3px 5px;
        }
        @include media-breakpoint-up(lg) {
            width: 170px;
            margin-right: 5px;
            margin-top: 5px;
        }        
    }
}
