.acc-product-gallery {
  .image-gallery {
    *:focus {
      outline: none;
    }
    // content
    .image-gallery-content {
      // images
      .image-gallery-image {
        max-height: 280px;
        height: 280px;
        cursor: zoom-in;
        @include media-breakpoint-up(md) {
          max-height: 400px;
          height: auto;
        }
      }

      &.fullscreen {
        background: $white;
      }
    }

    // fullscreen
    .image-gallery-icon {
      z-index: 1;
      outline: none;
      &.image-gallery-left-nav,
      &.image-gallery-right-nav {
        height: 100%;
        padding: $spacer;
        filter: initial;
        svg {
          display: none;
        }
        &:after {
          background: url('/assets/images/icons/gallery-arrow-right.svg')
            no-repeat center center;
          background-size: $spacer * 3 auto;
          content: '';
          display: block;
          width: $spacer * 2;
          height: 100%;
        }
      }
      &.image-gallery-left-nav {
        &:after {
          background: url('/assets/images/icons/gallery-arrow-left.svg')
            no-repeat center center;
        }
      }
      &.image-gallery-right-nav {
        &:after {
          background: url('/assets/images/icons/gallery-arrow-right.svg')
            no-repeat center center;
        }
      }
    }

    // thumbnail
    .image-gallery-thumbnails {
      display: none;
      padding: $spacer 0;
      @include media-breakpoint-up(md) {
        display: block;
      }
      .image-gallery-thumbnail {
        width: 25%;
        border: 1px solid theme-color(medium);
        margin-left: $spacer;
        cursor: pointer;
        &.video-thumb {
          position: relative;
          &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url('/assets/images/icons/video-thumb.svg') no-repeat
              center center;
            background-size: 40px;
          }
        }
        @include media-breakpoint-up(md) {
          width: 20%;
        }
        @include media-breakpoint-up(lg) {
          width: $spacer * 9;
        }
        &:last-child {
          margin-right: $spacer;
        }
        &.active {
          border-color: theme-color(secondary);
        }
        .image-gallery-thumbnail-inner {
          position: relative;
          display: block;
          width: 100%;
          padding: 0;
          overflow: hidden;
          &:before {
            display: block;
            content: '';
            padding-top: 100%;
          }
          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }
        }
      }
    }

    // bullets
    .image-gallery-bullets {
      position: initial;
      margin-top: $spacer/2;
      @include media-breakpoint-up(md) {
        display: none;
      }
      .image-gallery-bullet {
        box-shadow: none;
        background: theme-color-level(light, 2);
        margin: $spacer/8;
        border: 0;
        width: $spacer/2;
        height: $spacer/2;
        box-sizing: border-box;
        &.active {
          background: theme-color(primary);
        }
      }
    }

    // full screen modal
    &.fullscreen-modal {
      background: $white;
      z-index: 50;
      @include media-breakpoint-up(md) {
        padding-top: $spacer * 4;
      }
      .image-gallery-thumbnails {
        display: block;
      }
      .image-gallery-bullets {
        display: none;
      }
      .image-gallery-content {
        top: initial;
        transform: initial;
        height: 100%;
        display: flex;
        flex-direction: column;
        .image-gallery-slide-wrapper {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include media-breakpoint-up(md) {
            // padding-top: $spacer*3;
          }
        }
        .image-gallery-image {
          max-height: 100%;
          height: initial;
          cursor: auto;
          @include media-breakpoint-up(md) {
            max-height: 700px;
          }
          @include media-breakpoint-up(lg) {
            max-height: calc(100vh - #{$spacer}* 14);
          }
        }
        .image-gallary-video {
          @extend .image-gallery-image;
          @include media-breakpoint-up(lg) {
            height: calc(100vh - #{$spacer}* 14);
          }
          iframe {
            @include media-breakpoint-up(lg) {
              height: 100% !important;
            }
          }
        }
      }
    }
  }

  .play-button {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 60px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    z-index: 99;
  }

  .play-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .play-button:after {
    content: '';
    display: block;
    position: absolute;
    top: 16.5px;
    left: 40px;
    margin: 0 auto;
    border-style: solid;
    border-width: 12.5px 0 12.5px 20px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
  }
  .acc-custom-fullscreen {
    z-index: 2;
    height: $spacer * 3;
    min-height: $spacer * 3;
    border-radius: 0;
    align-items: center;
    padding: $spacer/2 $spacer;
    position: fixed;
    border: 0;
    background: theme-color(primary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    .acc-fullscreen-btn {
      padding: 0;
      height: calc(100% - #{spacer});
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo-icon {
      max-width: 2rem;
      height: calc(100% - 1rem);
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
      padding: 0;
      margin: 0 auto;
    }
  }
}

.acc {
  &-product {
    &-logo-icon {
      width: $spacer * 2;
    }
    &-close-icon {
      width: $spacer * 1.625;
      height: $spacer * 1.625;
    }
  }
}
