@import "/src/styles/scss/variables";
@import "~bootstrap/scss/mixins";

.acc-market-inner-pages-banner-wrapper {
  min-height: 170px;

  @include media-breakpoint-up(md) {
    min-height: 250px;
  }

  @include media-breakpoint-up(xxl) {
    min-height: 400px;
  }
}

.acc-automotive-youtube-video-sec {
  :global(.container) {
    @include media-breakpoint-down(xs) {
      padding-left: 0;
      padding-right: 0;
    }

    .video-image {
      position: relative;
      cursor: pointer;

      & > img {
        @include media-breakpoint-up(lg) {
          height: 400px;
        }

        @include media-breakpoint-up(xl) {
          height: 700px;
        }

        height: 300px;
        object-fit: cover;
      }

      .acc-video-play-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $spacer * 6;
        fill: #f00;
      }
    }
  }
}
